/*********************************************************************************/
/*                             CSS para ejercicios                               */
/*                                 Alba Romero                                   */
/*                                  Mayo 2023                                    */
/*                              Lenguaje de Marcas                               */
/*********************************************************************************/

@font-face {
    font-family: titulo;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {background-color:rgba(240,219,79,255)}

#formulario {border: 2px solid rgba(240,219,79,255)!important;
    background-color: rgba(50,51,48,255);
    width: 150%;
    margin: 0 auto;
    margin-left: -25%;
    margin-right: -25%;}

h1 {color: rgba(50,51,48,255); 
    font-family: titulo;
    font-size: 3em;}

h2 {color: rgba(240,219,79,255)}

#resultado {color: white;
    text-align: center;}

label {color: white;
    margin-top: 2%;}

.btn {padding: 10px 15px;
    border: 1px solid rgba(50,51,48,255);
    border-radius: 8px;
    color: rgba(50,51,48,255);
    background-color: rgba(240,219,79,255);}

.btn:hover {color: rgba(50,51,48,255);
    background-color: rgba(255, 255, 153, 255);}